<?xml version="1.0" encoding="utf-8" ?>

<root>
    <database>
        <serverIP>10.7.111.104</serverIP>
        <dataSource>10.7.111.104\SAGEX3DATA</dataSource>
        <initialCatalog>x3erpv12</initialCatalog>
        <databaseName>x3erpv12</databaseName>
        <dbUserID>CMS</dbUserID>
        <dbPassword>CMS@123</dbPassword>
        <databaseSchema>YTCPROD</databaseSchema>
    </database>

    <RDP>
        <Directory>\\10.7.111.106\CxSysTest\ProcessPD\</Directory>
        <Domain>klvm006</Domain>
        <Username>cms_dev</Username>
        <Password>Cms@1234</Password>
    </RDP>

    <!-- 1 - Production; 2 - Testing-->
    <Environment>2</Environment>
    
    <Testing>
        <database>
            <serverIP>10.7.111.104</serverIP>
            <dataSource>10.7.111.104\SAGEX3DATA</dataSource>
            <initialCatalog>x3erpv12</initialCatalog>
            <databaseName>x3erpv12</databaseName>
            <dbUserID>CMS</dbUserID>
            <dbPassword>CMS@123</dbPassword>
            <databaseSchema>YTCUAT5</databaseSchema>
        </database>
        
        <UserID>
            <SiteKLPudu>tzuchitest</SiteKLPudu>
            <SiteKlang>tzuchitest</SiteKlang>
            <SiteMelaka>tzuchitest</SiteMelaka>
        </UserID>
        <API>
            <Site>
                <KLPudu>https://tzuchitest.dyndns.org/clinicsysmini/sage_points.php</KLPudu>
                <Klang>https://tzuchitest.dyndns.org/clinicsysmini/sage_points.php</Klang>
                <Melaka>https://tzuchitest.dyndns.org/clinicsysmini/sage_points.php</Melaka>
            </Site>
        </API>

        <!-- Send Out API JSON; 1 = Yes; 0 = No -->
        <SendOutAPI>1</SendOutAPI>
        <ExcludeMelaka>1</ExcludeMelaka>
    </Testing>

    <Production>
        <database>
            <serverIP>10.7.111.104</serverIP>
            <dataSource>10.7.111.104\SAGEX3DATA</dataSource>
            <initialCatalog>x3erpv12</initialCatalog>
            <databaseName>x3erpv12</databaseName>
            <dbUserID>CMS</dbUserID>
            <dbPassword>CMS@123</dbPassword>
            <databaseSchema>YTCPROD</databaseSchema>
        </database>
        
        <UserID>
            <SiteKLPudu>X3fcpudu</SiteKLPudu>
            <SiteKlang>X3fcklang</SiteKlang>
            <SiteMelaka>X3fcmlk</SiteMelaka>
        </UserID>
        <API>
            <Site>
                <KLPudu>https://tzuchipudu.dyndns.org/clinicsysmini/sage_points.php</KLPudu>
                <Klang>https://tzuchiklang.dyndns.org/clinicsysmini/sage_points.php</Klang>
                <Melaka>https://tzuchimelaka.dyndns.org/clinicsysmini/sage_points.php</Melaka>
            </Site>
        </API>

        <!-- Send Out API JSON; 1 = Yes; 0 = No; -->
        <SendOutAPI>1</SendOutAPI>
        <!-- Melaka have an issue the causing everything to hang. So added a logic to exclude Melaka records. -->
        <ExcludeMelaka>1</ExcludeMelaka>
    </Production>
    
    
    <!--<UserID>
        <SiteKLPudu>X3fcpudu</SiteKLPudu>
        <SiteKlang>X3fcklang</SiteKlang>
        <SiteMelaka>X3fcmlk</SiteMelaka>
    </UserID>

    <API>
        <Site>
            <KLPudu>https://tzuchipudu.dyndns.org/clinicsysmini/sage_points.php</KLPudu>
            <Klang>https://tzuchiklang.dyndns.org/clinicsysmini/sage_points.php</Klang>
            <Melaka>https://tzuchimelaka.dyndns.org/clinicsysmini/sage_points.php</Melaka>
        </Site>
        
        <SendOutAPI>1</SendOutAPI>
        <ExcludeMelaka>1</ExcludeMelaka>
    </API>

    <CMS>
        <VendorID>31</VendorID>
    </CMS>

    <PCS>
        <Issuance>
            <FileDestinationPath></FileDestinationPath>
        </Issuance>
        <Product>
            <FileDestinationPath></FileDestinationPath>
        </Product>
    </PCS>-->
</root>



<!--

SELECT * FROM YTCPROD.TEMP_STOJOU
SELECT VCRNUM_0, AMTORD_0, QTYPCU_0, STOFCY_0, FCYNAM_0,TRSTYP_0, B.ACCCOD_0, USR_0, NOMUSR_0
FROM YTCPROD.STOJOU A
LEFT JOIN YTCPROD.FACILITY B ON STOFCY_0 = FCY_0
LEFT JOIN YTCPROD.AUTILIS C ON USR_0 = A.CREUSR_0
WHERE VCRNUM_0 IN ('STIT32F03-230000008')



-->